<%= form_for(@rentable, html: { class: 'form-horizontal' }) do |f| %>
  <% if @rentable.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@rentable.errors.count, "Error") %></strong>
      <ul>
        <% @rentable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :image, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hourly_rate, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :hourly_rate, class: 'form-control', step: 'any', min: 0 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :quantity, class: 'form-control', min: 0 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-warning' %>
      <% if !@rentable.new_record? %>
        <%= link_to 'Destroy', @rentable, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
