<div class="alert alert-warning" role="alert">
  <% if params[:q] %>
    <strong><%= pluralize(@rentables.count, 'Result') %> for "<%= params[:q] %>"</strong>
  <% else %>
    <strong>Welcome to Handyman Rental Centre</strong>
    Rent equipment instead of buying and save big!
  <% end %>
</div>

<div class="row product-list">
  <% @rentables.each do |rentable| %>
    <div class="col-sm-4">
      <div class="image-container">
        <%= link_to image_tag(rentable.image, alt: rentable.name), rentable %>
      </div>
      <h3>
        <%= link_to rentable.name, rentable %>
      </h3>
      <p>
        <%= rentable.description %>
      </p>
      <h4>
        <%= number_to_currency rentable.hourly_rate %>
        <small>per hour</small>
      </h4>
      <%= link_to 'Rent It Now', new_transaction_path(transaction: { rentable_ids: [rentable.id] }), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
