<h1><%= @rentable.name %></h1>

<%= image_tag(@rentable.image, alt: @rentable.name, class: 'big-image') %><br />

<h2>
    <%= number_to_currency @rentable.hourly_rate %>
    <small>per hour</small>
</h2>

<p>
  <%= link_to 'Rent It Now', new_transaction_path(transaction: { rentable_ids: [@rentable.id] }), class: 'btn btn-warning' %>
</p>

<p>
  <%= @rentable.description %>
</p>

<dl class="dl-horizontal">
  <dt>Location</dt>
  <dd><%= @rentable.location %></dd>

  <dt>Quantity</dt>
  <dd><%= @rentable.quantity %></dd>

  <dt>Category</dt>
  <dd><%= @rentable.category %></dd>
</dl>
