<%= form_for(@transaction, html: { class: 'form-horizontal' }) do |f| %>
  <% if @transaction.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@transaction.errors.count, "Error") %></strong>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <% if @transaction.new_record? %>
    <h2>Select the items you would like to rent:</h2>
  <% end %>
  <div class="well product-form-list">
    <div class="row">
      <% for rentable in Rentable.all %>
        <label class="col-xs-6 col-sm-3 col-lg-2 rentable-item">
          <%= check_box_tag "transaction[rentable_ids][]", rentable.id, @transaction.rentables.include?(rentable) %>
          <%= rentable.name %> (<%= link_to 'Details', rentable, target: '_blank' %>)
          <div class="image-container">
            <%= image_tag rentable.image, alt: rentable.name %>
          </div>
          <h4>
            <%= number_to_currency rentable.hourly_rate %>
            <small>per hour</small>
          </h4>
        </label>
      <% end %>
    </div>
  </div>

  <% if @transaction.new_record? %>
    <h2>Complete the following rental details:</h2>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :province, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :province, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :postal_code, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :postal_code, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_at, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= datetimepicker f, :start_at %>
        <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_at, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= datetimepicker f, :end_at %>
        <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
      </div>
    </div>
  </div>

  <% if !@transaction.new_record? %>
    <div class="form-group">
      <%= f.label :delivered_at, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <%= datetimepicker f, :delivered_at %>
          <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :returned_at, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <%= datetimepicker f, :returned_at %>
          <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cancelled, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.check_box :cancelled %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :hours_charged, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :hours_charged %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="credit_card">Credit card</label>
      <div class="col-sm-10">
        <input class="form-control" id="credit_card" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cvv">CVV</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-2">
            <input class="form-control" id="cvv" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="expiry">Expiry date</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-2">
            <input class="form-control" id="expiry" type="text" placeholder="MM">
          </div>
          <div class="col-xs-2">
            <input class="form-control" type="text" placeholder="YY">
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Submit', class: 'btn btn-warning' %>
      <% if !@transaction.new_record? %>
        <%= link_to 'Destroy', @transaction, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
