<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% for rentable in Rentable.all %>  
    <div class="field">  
      <%= check_box_tag "transaction[rentable_ids][]", rentable.id, @transaction.rentables.include?(rentable) %>  
      <%= rentable.name %>  
    </div>  
  <% end %>  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :delivered_at %><br>
    <%= f.datetime_select :delivered_at %>
  </div>
  <div class="field">
    <%= f.label :returned_at %><br>
    <%= f.datetime_select :returned_at %>
  </div>
  <div class="field">
    <%= f.label :cancelled %><br>
    <%= f.check_box :cancelled %>
  </div>
  <div class="field">
    <%= f.label :hours_charged %><br>
    <%= f.text_field :hours_charged %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
