<div class="well product-form-list">
  <div class="row">
    <% for rentable in @transaction.rentables %>
      <label class="col-xs-6 col-sm-3 col-lg-2 rentable-item">
        <div class="image-container">
          <%= image_tag rentable.image, alt: rentable.name %>
        </div>
        <%= rentable.name %> (<%= link_to 'Details', rentable, target: '_blank' %>)
      </label>
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @transaction.name %></dd>

  <dt>Address:</dt>
  <dd><%= @transaction.address %></dd>

  <dt>Phone:</dt>
  <dd><%= @transaction.phone %></dd>

  <dt>Start at:</dt>
  <dd><%= datetimetext(@transaction.start_at) %></dd>

  <dt>End at:</dt>
  <dd><%= datetimetext(@transaction.end_at) %></dd>

  <dt>Delivered at:</dt>
  <dd><%= datetimetext(@transaction.delivered_at) %></dd>

  <dt>Returned at:</dt>
  <dd><%= datetimetext(@transaction.returned_at) %></dd>

  <dt>Cancelled:</dt>
  <dd><%= booleantext(@transaction.cancelled) %></dd>

  <dt>Hours charged:</dt>
  <dd><%= @transaction.hours_charged %></dd>
</dl>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
