<h1>Rental Confirmation</h1>

<div class="well product-form-list">
  <div class="row">
    <% for rentable in @transaction.rentables %>
      <label class="col-xs-6 col-sm-3 col-lg-2 rentable-item">
        <div class="image-container">
          <%= image_tag rentable.image, alt: rentable.name %>
        </div>
        <%= rentable.name %> (<%= link_to 'Details', rentable, target: '_blank' %>)
      </label>
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Rental ID:</dt>
  <dd><%= @transaction.id %></dd>

  <dt>Name:</dt>
  <dd><%= @transaction.name %></dd>

  <dt>Address:</dt>
  <dd><%= @transaction.address %></dd>

  <dt>Phone:</dt>
  <dd><%= @transaction.phone %></dd>

  <dt>Start at:</dt>
  <dd><%= datetimetext(@transaction.start_at) %></dd>

  <dt>End at:</dt>
  <dd><%= datetimetext(@transaction.end_at) %></dd>
</dl>

<%= link_to 'Back to Homepage', root_path %>
